#logo{
    margin-left: 30px;
}
.nav-wrapper{
    background: black;
    background-image: url("images/net.png") ;
    background-repeat: no-repeat;
    background-position: right;

}
.CodeMirror-wrap{
    position: absolute;
    margin: 30px;
    left: 0;
    top: 12%;
    width: 50%;
    height: 80%;
    border-width: 2px;
    border: black;
}
.CodeMirror-vscrollbar{
    display: inline;
    height: 100%;
}
.CodeMirror-scroll{
    background: #F5F5F5;
}
.code_editor_title{
    position: absolute;
    left: 6%;
    font-style: inherit;
    font-weight: bold;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.page-footer{
    position: absolute;
    width: 100%;
    top: 100%;
    background: black;
    background-image: url("images/net.jpg");
    background-size: cover;
}
.analyze_title{
    position: absolute;
    left: 56%;
    font-style: inherit;
    font-weight: bold;
}
.analyze_results{
    position: absolute;
    left: 56%;
    margin-top: 30px;
    height: 80%;
    width: 40%;
    top: 12%;
}
.btn, .btn:hover{
    background: black;
}
.collection{
    border: none;
    border-bottom: 1px solid #e0e0e0;
}